.menu-text {
  font: small-caps 18px/1 Nunito, sans-serif;
  user-select: none;
}

.menu-text-item:hover {
  color: yellowgreen;
  cursor: pointer;
}

.menu-text-item:active {
  color: rgb(198, 233, 44);
}

.menu-text-item-main {
  color: yellowgreen;
  cursor: pointer;
}

.menu-text-item-main:active {
  color: rgb(198, 233, 44);
}
